<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>


        <!-- <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>
        -->

        <%= form_with(url: login_path, scope: :session) do |f| %>

          <%= f.label :email, class: "form-group" %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password, class: "form-group" %>
          <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Email" %>
          
          <%= f.submit "Log in", class: "btn btn-lg btn-primary pull-xs-right" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>