<nav class="navbar navbar-light">
    <div class="container">
    <a class="navbar-brand" href="/">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
            <!-- Add "active" class when you're on that page" -->
                <%= link_to "Home", root_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "New Article", new_article_path, class: "nav-link" %>
            </li>

            <% if logged_in? %>
            <li class="nav-item"><%= link_to "Users", "#" , class: "nav-link" %></li>    
            <li class="dropdown nav-item">
                <a href="#" id="account" class="dropdown-toggle nav-link">
                    Account <b class="caret"></b> 
                </a>
                <ul id="dropdown-menu" class="dropdown-menu">
                    <li class="dropdown-item"><%= link_to "Log out", logout_path, class: "nav-link", data: { "turbo-method": :delete } %></li>
                    <li class="dropdown-item"><%= link_to "Profile", current_user, class: "nav-link" %></li>
                    <li class="dropdown-item"><%= link_to "Settings", "#", class: "nav-link" %></li>
                </ul>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to "Log in", login_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign up", signup_path, class: "nav-link" %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>